<%= link_to "Back", tickets_path, class: "btn btn-outline-secondary my-3"%>

<h2><%= @ticket.subject %></h2>
  <div class="d-flex">
    <p class="mb-0">Tags:</p>
    <% @ticket.tags.each do |tag| %>
      <div class="tag card px-2 mx-1"> <%= tag.id %></div>
    <% end %>
  </div>

<p class="mt-5"><%= @ticket.description %></p>
